@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

body {
  font-family: "Rubik", sans-serif;
}

.blue {
  color: #0d6cf8;
}

.no-select {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

th {
  font-size: 0.9rem !important;
}

td {
  font-size: 0.9rem !important;
}

a {
  text-decoration: none !important;
}

.cursor {
  cursor: pointer;
}

.form-group {
  margin-bottom: 0.7rem !important;
}

.bgwell {
  background-image: url("/bgwell.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
}

.bgmoiza {
  background-image: url("/bgmoiza.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
}

.bg-novo {
  background-color: #fff !important;
}

.bg-andamento {
  background-color: #cbf7e3 !important;
}

.bg-finalizado {
  background-color: #fac9cf !important;
}

.bg-cancelado {
  background-color: #d4d4d4 !important;
}
